
<div>
    <img src=<%= summoner.getProfileIcon() %> >
</div>
<div style="padding-left: 10%; height:100px;">
    <p> Hello <%= name %>! </p>
    <p>Level: <%= summoner.summonerLevel %></p>
    <p>Rank: <%= summoner.summonerRank %></p> 
</div>

<h2>Users Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.fullName %></td>
            <td><%= user.email %></td>
            <td><%= user.zipCode %></td>
        </tr>
        <% }); %>
    </tbody>
</table>


<style>
    img{
        width:200px;
        height: 200px; 
        border-radius: 50%;
        float: left;
    }
    p {
        font-family:courier;
        font-size:200%
    }
</style>